<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All_human</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body style="background-color: rgb(30,30,30)">
<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <a th:text="${userCurrent.getEmail()} + ${userCurrent.getRole()}">Admin panel</a>
        <a th:href="@{/logout}" method="post">logout</a>
    </div>
</nav>

<div class="p-3 mb-2 dark  text-white">

    <div class="row">
        <div class="col-sm-2" style="background-color: rgb(40,40,40)">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button">Admin</button>
                <button class="btn btn-primary" th:href="@{/user}">User</button>
            </div>
        </div>
        <div class="col-sm-10">
            <H1>Admin panel</H1>

            <br>

            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link active btn-primary" type="button" role="tab" data-bs-toggle="tab"
                                data-bs-target="#allUsersTab"
                        >All users
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn-primary" type="button" role="tab" data-bs-target="#newUserTab"
                                data-bs-toggle="tab">New user
                        </button>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="allUsersTab">
                    <table class="table text-white">
                        <h3>All users</h3>
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="user : ${user}">
                            <tr>
                                <th scope="row"><a th:text="${user.getId()}">user</a></th>
                                <td><a th:text="${user.getUsername()}">user</a></td>
                                <td><a th:text="${user.getLastName()}">user</a></td>
                                <td><a th:text="${user.getAge()}">user</a></td>
                                <td><a th:text="${user.getEmail()}">user</a></td>
                                <td><a th:text="${user.getRole()}">user</a></td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            th:attr="data-bs-target='#exampleModal' + ${user.getId()}">
                                        Edit
                                    </button>

                                    <div class="modal fade" th:id="'exampleModal' + ${user.getId()}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-dark">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Заголовок модального
                                                        окна</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Закрыть"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:method="PATCH"
                                                          th:action="@{/admin/{id}(id=${user.getId()})}">

                                                        <label for="username">Name</label>
                                                        <input type="text" class="form-control" th:name="username"
                                                               th:value="*{user.getUsername}" id="username"
                                                               aria-label="Username"
                                                               aria-describedby="input-group-right">


                                                        <br>

                                                        <label for="lastName">Surname</label>
                                                        <input type="text" class="form-control" th:name="lastName"
                                                               th:value="*{user.getLastName}" id="lastName"
                                                               aria-label="Username"
                                                               aria-describedby="input-group-right">


                                                        <br>

                                                        <label for="age">age</label>
                                                        <input type="text" class="form-control" th:name="age"
                                                               th:value="*{user.getAge}" id="age" aria-label="Username"
                                                               aria-describedby="input-group-right">

                                                        <br>

                                                        <label for="email">email</label>
                                                        <input type="text" class="form-control" th:name="email"
                                                               th:value="*{user.getEmail}" id="email"
                                                               aria-label="Username"
                                                               aria-describedby="input-group-right">


                                                        <br>


                                                        <label for="password">password</label>
                                                        <input type="text" class="form-control" th:name="password"
                                                               th:value="*{user.getPassword}" id="password"
                                                               aria-label="Username"
                                                               aria-describedby="input-group-right">

                                                        <br>


                                                        <select class="form-select" aria-label="Default select"
                                                                th:name="role" multiple>
                                                            <option th:each="role : ${role}" th:value="${role.getId()}"
                                                                    th:text="${role.getName()}"></option>
                                                        </select>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Save edits
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                                        <button class="btn btn-danger" type="submit" value="Delete user">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="newUserTab">
                    <div class="container-fluid col-12 d-flex justify-content-center">
                        <form th:method="POST" th:action="@{/admin}" th:object="${newUser}" class="text-center col-3">

                            <div class="position-relative text-center">
                                <label for="username">Name</label>
                                <br>
                                <input type="text" th:field="*{username}" class="form-control">
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            <div class="position-relative text-center">
                                <label for="lastName">Surname</label>
                                <input type="text" th:field="*{lastName}" class="form-control">
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            <div class="position-relative text-center">
                                <label for="age">age</label>
                                <input type="text" th:field="*{age}" class="form-control">
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            <div class="position-relative text-center">
                                <label for="email" class="form-label">email</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                    <input type="text" class="form-control" th:field="*{email}"
                                           aria-describedby="validationTooltipUsernamePrepend" required="">
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                            </div>

                            <div class="position-relative text-center">
                                <label for="password">password</label>
                                <input type="text" th:field="*{password}" class="form-control">
                                <div class="invalid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            <div class="position-relative text-center">
                                <select class="form-select" aria-label="Default select" th:name="role" multiple>
                                    <option th:each="role : ${role}" th:value="${role.getId()}"
                                            th:text="${role.getName()}"></option>
                                </select>
                                <div class="invalid-tooltip">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>